.table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
}
.table_blur th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
}
.table_blur th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
    background: #ebf3f9;
}
.table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
}
.table_blur tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
    color: #444444;
    text-shadow: none;
}

div#carousel {
    perspective: 1200px;
    padding: 20px;
    font-size: 0;
    margin-bottom: 3rem;
    overflow: hidden;
    width: 1200px; }

figure#spinner {
    transform-style: preserve-3d;
    height: 600px;
    transform-origin: 55% 55% -350px;
    transition: 1s; }

figure#spinner img {
    border: 8px solid #4f8db3;
    width: 40%;
    height: 100%;
    position: absolute;
    left: 35%;
    transform-origin: 50% 50% -350px;
    outline: 1px solid transparent; }

figure#spinner img:nth-child(1) {
    transform: rotateY(0deg); }

figure#spinner img:nth-child(2) {
    transform: rotateY(-72deg); }

figure#spinner img:nth-child(3) {
    transform: rotateY(-144deg); }

figure#spinner img:nth-child(4) {
    transform: rotateY(-216deg); }

figure#spinner img:nth-child(5) {
    transform: rotateY(-288deg); }

div#carousel ~ span {
    color: black;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
    bottom: 300px; }

div#carousel ~ span:hover {
    color: #888;
    cursor: pointer; }